@inject IUserService UserService
@implements IDisposable

<div class="account-container-xl d-block d-xl-none">
    <div class="account-box-xl d-flex flex-column align-items-center">
        <img src="@(user.Image == null ? defaultImage : user.Image)"
             alt="" class="account-image">
        <h5 class="account-name-xl">@user.FirstName @user.LastName</h5>
        <div class="address-box-xl d-flex flex-column align-items-center">
            <p class="address-content-xl">@user.Email</p>
            <p class="address-content-xl">@user.FirstName @user.LastName</p>
            <p class="address-content-xl">@user.Phone</p>
        </div>
    </div>
</div>
<div class="body-container p-4 container-fluid d-none d-xl-block">
    <div class="account-container row">
        <div class="account-box col-3 d-flex flex-column align-items-center">
            <img src="@(user.Image == null ? defaultImage : user.Image)"
                 alt="" class="account-image">
            <h5 class="account-name">@user.FirstName @user.LastName</h5>
        </div>
        <div class="address-box col d-flex flex-column justify-content-center">
            <h6 class="address-title">Address Book</h6>
            <p class="address-content">@user.Email</p>
            <p class="address-content">@user.FirstName @user.LastName</p>
            <p class="address-content">@user.Phone</p>
        </div>
    </div>
    <h3 class="recent-order">Recent Order</h3>
    <div class="order-box p-3 d-flex justify-content-center">
        <table class="order-table">
            <tr>
                <th>Order Number</th>
                <th>Date</th>
                <th>Artwork</th>
                <th>Artist</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>123456</td>
                <td>Jan 18, 2022</td>
                <td><img src="https://picsum.photos/1000/300" alt="" class="art-img-order"></td>
                <td>Vince Gogh</td>
                <td>Php 12,000</td>
            </tr>
        </table>
    </div>
</div>
<div class="body-container-xl d-block d-xl-none">
    <h3 class="recent-order">Recent Order</h3>
    <div class="order-box-xl d-flex">
        <img src="https://picsum.photos/1000/300" alt="" class="art-img-order-xl">
        <div class="art-body-xl d-flex flex-column justify-content-center">
            <h4 class="art-title-xl">LoveBug</h4>
            <p class="art-content-xl">12345</p>
            <p class="art-content-xl">Mark Batinga</p>
            <p class="art-content-xl">02/23/2022</p>
        </div>
        <h5 class="art-price-xl">Php 12,000</h5>
    </div>
</div>

@code {
    [Parameter]
    public User user { get; set; }

    string defaultImage = "../css/default-profile.png";

    protected override void OnInitialized()
    {
        UserService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserService.OnChange -= StateHasChanged;
    }
}
