@inject IUserService UserService
@inject ILocalStorageService LocalStorage
@inject IAddressService AddressService
@inject IJSRuntime JsRuntime

<div class="container-fluid d-block d-xl-none">
    <div class="shipping-container-xl p-3 mb-4 d-flex flex-column align-items-center">
        <h3 class="body-title">Shipping Address</h3>
        @if (AddressList.Count >= 2)
        {
            <form>
                <p class="@validateSelect">Invalid Address</p>
                <select name="Addresses" @onchange="OnChangeSelect">
                    <option value="0" selected>Select Address</option>
                    @foreach (var address in AddressList)
                    {
                        <option value="@address.Id">@address.Title</option>
                    }
                </select>
            </form>
        }

        @if (AddressList.Count != 0)
        {
            if (AddressList.Count == 1)
            {
                <p class="address-content">@AddressList[0].FirstName  @AddressList[0].LastName</p>
                <p class="address-content">@AddressList[0].Street</p>
                <p class="address-content">@AddressList[0].Barangay, @AddressList[0].Town, @AddressList[0].Province</p>
                <p class="address-content">@AddressList[0].Phone</p>
            }
            else
            {
                <p class="address-content">@SelectedAddress.FirstName  @SelectedAddress.LastName</p>
                <p class="address-content">@SelectedAddress.Street</p>
                <p class="address-content">@SelectedAddress.Barangay, @SelectedAddress.Town, @SelectedAddress.Province</p>
                <p class="address-content">@SelectedAddress.Phone</p>
            }

        }
        else
        {
            <p class="address-content">Please Add a New Address in the Account Section</p>
            <p><a href="/account">Click Here to Add New Address</a></p>

        }
    </div>
    <h3 class="body-title">Artworks</h3>
    @foreach (var product in ProductList)
    {
        <div class="artwork-box-xl p-2 mb-3">
            <div class="img-box">
                <img src="@product.Image" alt="" class="art-img">
            </div>
            <div class="artwork-summary">
                <h4 class="artwork-number">@product.Title</h4>
                <p class="artwork-content">@product.Artist</p>
                <p class="artwork-content">@product.DateAddedCart.ToLongDateString()</p>
            </div>
            <div class="total-summary">
                <p class="summary-content">Total: @product.Price</p>
            </div>
        </div>
    }
    <EditForm Model="newOrder" OnValidSubmit="OnClickCheckout">
        <div class="order-box-xl p-3">
            <h3 class="payment-title">Select Payment Method</h3>
            <InputRadioGroup class="input-form" @bind-Value="newOrder.PaymentMethod">
                <div class="check-box">
                    <label for="cod-method" class="checkbox-label">Cash On Delivery</label>
                    <InputRadio Value="CodValue" />
                </div>
                <div class="check-box">
                    <label for="credit-metho" class="checkbox-label">Credit/Debit Card</label>
                    <InputRadio Value="CreditValue" />
                </div>
            </InputRadioGroup>
            <h3 class="payment-title">Order Summary</h3>
            <table>
                <tr>
                    <th>Subtotal</th>
                    <td>@SubTotal</td>
                </tr>
                <tr>
                    <th>Shipping Fee</th>
                    <td>@ShippingFee</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>@Total</td>
                </tr>
            </table>
            <div>
                <a class="checkout mx-4" @onclick="OnClickCancel">Cancel</a>
                @if (newOrder.AddressId != 0 && newOrder.PaymentMethod != null)
                {
                    <button class="checkout" type="submit">Checkout</button>
                }
            </div>
        </div>
    </EditForm>
</div>
<div class="container-fluid d-none d-xl-block">
    <div class="row">
        <div class="shipping-container col-9">
            <h3 class="body-title">Shipping Address</h3>
            @if (AddressList.Count >= 2)
            {
                <form>
                    <p class="@validateSelect">Invalid Address</p>
                    <select name="Addresses" @onchange="OnChangeSelect">
                        <option value="0" selected>Select Address</option>
                        @foreach (var address in AddressList)
                        {
                            <option value="@address.Id">@address.Title</option>
                        }
                    </select>
                </form>
            }
            @if (AddressList.Count != 0)
            {
                if (AddressList.Count == 1)
                {
                    <div class="address-box">
                        <p class="address-content">@AddressList[0].FirstName  @AddressList[0].LastName</p>
                        <p class="address-content">@AddressList[0].Street</p>
                        <p class="address-content">@AddressList[0].Barangay, @AddressList[0].Town, @AddressList[0].Province</p>
                        <p class="address-content">@AddressList[0].Phone</p>
                    </div>
                }
                else
                {
                    <div class="address-box">
                        <p class="address-content">@SelectedAddress.FirstName  @SelectedAddress.LastName</p>
                        <p class="address-content">@SelectedAddress.Street</p>
                        <p class="address-content">@SelectedAddress.Barangay, @SelectedAddress.Town, @SelectedAddress.Province</p>
                        <p class="address-content">@SelectedAddress.Phone</p>
                    </div>
                }

            }
            else
            {
                <div class="address-box">
                    <p class="address-content">Please Add a New Address in the Account Section</p>
                    <p><a href="/account">Click Here to Add New Address</a></p>
                </div>
            }

            <h3 class="body-title">Artworks</h3>
            @foreach (var product in ProductList)
            {
                <div class="artwork-box mb-3">
                    <div class="img-box">
                        <img src="@product.Image" alt="" class="art-img">
                    </div>
                    <div class="artwork-summary">
                        <h4 class="artwork-number">@product.Title</h4>
                        <p class="artwork-content">@product.Artist</p>
                        <p class="artwork-content">@product.Description</p>
                    </div>
                    <div class="total-summary">
                        <p class="summary-content">Total: @product.Price</p>
                    </div>
                </div>
            }
        </div>
        <div class="payment-container pt-3 col-3 d-flex flex-column align-items-center">
            <h3 class="payment-title">Select Payment Method</h3>
            <EditForm Model="newOrder" OnValidSubmit="OnClickCheckout">
                <InputRadioGroup class="input-form" @bind-Value="newOrder.PaymentMethod">
                    <div class="check-box">
                        <label for="cod-method" class="checkbox-label">Cash On Delivery</label>
                        <InputRadio Value="CodValue" />
                    </div>
                    <div class="check-box">
                        <label for="credit-metho" class="checkbox-label">Credit/Debit Card</label>
                        <InputRadio Value="CreditValue" />
                    </div>
                </InputRadioGroup>
                <div class="order-box">
                    <h3 class="payment-title">Order Summary</h3>
                    <table>
                        <tr>
                            <th>Subtotal</th>
                            <td>@SubTotal</td>
                        </tr>
                        <tr>
                            <th>Shipping Fee</th>
                            <td>@ShippingFee</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>@Total</td>
                        </tr>
                    </table>
                    <div>
                        <a class="checkout m-4" @onclick="OnClickCancel">Cancel</a>
                        @if (newOrder.AddressId != 0 && newOrder.PaymentMethod != null)
                        {
                            <button class="checkout" type="submit">Checkout</button>
                        }
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<Product> ProductList { get; set; }

    [Parameter]
    public List<Address> AddressList { get; set; }

    [Parameter]
    public decimal ShippingFee { get; set; }

    [Parameter]
    public decimal SubTotal { get; set; }

    [Parameter]
    public decimal Total { get; set; }

    [Parameter]
    public int UserId { get; set; }

    [Parameter]
    public EventCallback Cancel { get; set; }

    Address SelectedAddress = new Address();
    Order newOrder = new Order();
    string validateSelect = "d-none";
    string CodValue = "Cash On Delivery";
    string CreditValue = "Credit/Debit";

    protected override void OnInitialized()
    {
        if(AddressList.Count == 1)
        {
            newOrder.AddressId = AddressList[0].Id;
        }
        else if (AddressList.Count == 0)
        {
            newOrder.AddressId = 0;
        }
    }

    private async Task OnClickCheckout()
    {
        foreach (var product in ProductList)
        {
            newOrder.UserId = UserId;
            newOrder.ProductId = product.Id;
            newOrder.OrderDate = DateTime.Now.ToShortDateString();
            newOrder.TotalPrice = product.Price + 75.00M;
            await JsRuntime.InvokeVoidAsync("console.log", newOrder);
        }
    }

    private void OnClickCancel()
    {
        ProductList.Clear();
        Cancel.InvokeAsync();
    }

    private async Task OnChangeSelect(ChangeEventArgs e)
    {
        int SelectedValue = Int32.Parse(e.Value.ToString());
        if(SelectedValue != 0)
        {
            validateSelect = "d-none";
            SelectedAddress = await AddressService.GetAddress(SelectedValue);
            newOrder.AddressId = SelectedAddress.Id;
        }
        else
        {
            validateSelect = string.Empty;
            newOrder.AddressId = 0;
        }
    }
}

